body {
  font-family: Montserrat, sans-serif;
  background-color: #333; /* Fondo oscuro */
  color: #fff; /* Texto blanco */
  text-align: center;
}

form {
  max-width: 300px;
  margin: 40px auto;
  padding: 40px;
  border: 1px solid #444; /* Borde oscuro */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label {
  display: block;
  margin-bottom: 10px;
  color: #fff; /* Texto blanco */
}

input[type="number"] {
  font-family: Montserrat, sans-serif;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: #444; /* Fondo oscuro */
  color: #fff; /* Texto blanco */
}

button[type="button"] {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  background-color: #4CAF50; /* Verde oscuro */
  color: #fff; /* Texto blanco */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="button"]:hover {
  background-color: #3e8e41; /* Verde claro */
}

#resultado {
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* Texto blanco */
  margin-top: 30px;
}
